---
import "@fontsource/young-serif";
import "@fontsource/outfit";
---

<html lang="en" data-astro-cid-j7pv25f6="">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />

    <title>Frontend Mentor | Recipe page</title>

    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body class="bg-neutral_eggshell w-full">
    <article
      class="bg-white w-full xl:w-[700px] flex flex-col m-auto xl:my-12 xl:mt-32 xl:p-8 xl:rounded-xl"
      data-astro-cid-j7pv25f6=""
    >
      <img
        src="/assets/images/image-omelette.jpeg"
        alt="Omelette image"
        class="xl:rounded-lg mb-6"
      />
      <h1 class="pl-8 xl:pl-0 text-4xl mb-4 text-neutral_darkCharcoal">
        Simple Omelette Recipe
      </h1>
      <p class="px-8 xl:pl-0 mb-8 text-neutral_wengeBrown text-base">
        An easy and quick dish, perfect for any meal. This classic omelette
        combines beaten eggs cooked to perfection, optionally filled with your
        choice of cheese, vegetables, or meats.
      </p>
      <section
        class="mx-8 xl:mx-0 px-8 py-4 bg-neutral_roseWhite xl:rounded-none rounded-lg"
      >
        <h2 class="text-primary_darkRaspberry text-lg font-extrabold">
          Preparation time
        </h2>
        <ul
          class="text-primary_darkRaspberry list-disc marker:text-primary_darkRaspberry ml-4 mt-2 text-sm pl-2 pr-8"
        >
          <li
            class="text-neutral_wengeBrown pl-4 mb-2 font-medium xl:text-base text-md"
          >
            <b class="font-bold">Total</b>: Approximately 10 minutes
          </li>
          <li
            class="text-neutral_wengeBrown pl-4 mb-2 font-medium xl:text-base text-md"
          >
            <b class="font-bold">Preparation</b>: 5 minutes
          </li>
          <li
            class="text-neutral_wengeBrown pl-4 mb-2 font-medium xl:text-base text-md"
          >
            <b class="font-bold">Cooking</b>: 5 minutes
          </li>
        </ul>
      </section>
      <section
        class="mx-8 xl:mx-0 mt-8 mb-6 pb-4 border-b border-neutral_lightGrey"
      >
        <h2 class="text-2xl text-primary_nutmeg">Ingredients</h2>
        <ul class="ml-4 pl-2 mt-4">
          <li
            class="pl-4 text-neutral_wengeBrown list-square marker:text-primary_nutmeg marker:text-xs text-md pb-2 font-medium"
          >
            2-3 large eggs
          </li>
          <li
            class="pl-4 text-neutral_wengeBrown list-square marker:text-primary_nutmeg marker:text-xs text-md pb-2 font-medium"
          >
            Salt, to taste
          </li>
          <li
            class="pl-4 text-neutral_wengeBrown list-square marker:text-primary_nutmeg marker:text-xs text-md pb-2 font-medium"
          >
            Pepper, to taste
          </li>
          <li
            class="pl-4 text-neutral_wengeBrown list-square marker:text-primary_nutmeg marker:text-xs text-md pb-2 font-medium"
          >
            1 tablespoon of butter or oil
          </li>
          <li
            class="pl-4 text-neutral_wengeBrown list-square marker:text-primary_nutmeg marker:text-xs text-md pb-2 font-medium"
          >
            Optional fillings: cheese, diced vegetables, cooked meats, herbs
          </li>
        </ul>
      </section>
      <section class="mx-8 xl:mx-0 mb-6 pb-4 border-b border-neutral_lightGrey">
        <h2 class="text-2xl text-primary_nutmeg">Instructions</h2>
        <ol class="list-decimal ml-2 pl-4 mt-4">
          <li
            class="pb-2 text-neutral_wengeBrown pl-4 marker:text-primary_nutmeg marker:font-bold"
          >
            <b class="font-semibold">Beat the eggs:</b> In a bowl, beat the eggs
            with a pinch of salt and pepper until they are well mixed. You can add
            a tablespoon of water or milk for a fluffier texture.
          </li>
          <li
            class="pb-2 text-neutral_wengeBrown pl-4 marker:text-primary_nutmeg marker:font-bold"
          >
            <b class="font-semibold">Heat the pan:</b> Place a non-stick frying pan
            over medium heat and add butter or oil.
          </li>
          <li
            class="pb-2 text-neutral_wengeBrown pl-4 marker:text-primary_nutmeg marker:font-bold"
          >
            <b class="font-semibold">Cook the omelette:</b> Once the butter is melted
            and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly
            coat the surface.
          </li>
          <li
            class="pb-2 text-neutral_wengeBrown pl-4 marker:text-primary_nutmeg marker:font-bold"
          >
            <b class="font-semibold">Add fillings (optional):</b> When the eggs begin
            to set at the edges but are still slightly runny in the middle, sprinkle
            your chosen fillings over one half of the omelette.
          </li>
          <li
            class="pb-2 text-neutral_wengeBrown pl-4 marker:text-primary_nutmeg marker:font-bold"
          >
            <b class="font-semibold">Fold and serve:</b> As the omelette continues
            to cook, carefully lift one edge and fold it over the fillings. Let it
            cook for another minute, then slide it onto a plate.
          </li>
          <li
            class="pb-2 text-neutral_wengeBrown pl-4 marker:text-primary_nutmeg marker:font-bold"
          >
            <b class="font-semibold">Enjoy:</b> Serve hot, with additional salt and
            pepper if needed.
          </li>
        </ol>
      </section>
      <section class="mx-8 xl:mx-0 mb-8 xl:mb-0">
        <h2 class="text-2xl text-primary_nutmeg mb-4">Nutrition</h2>
        <span class="text-neutral_wengeBrown">
          The table below shows nutritional values per serving without the
          additional fillings.
        </span>
        <table class="w-full mt-4">
          <tr class="border-b border-neutral_lightGrey"
            ><th class="pb-2 pl-12 text-start text-neutral_wengeBrown w-1/2"
              >Calories</th
            >
            <th
              class="pb-2 pr-24 font-bold text-primary_nutmeg w-1/2 text-start"
              >277kcal</th
            ></tr
          >
          <tr class="border-b border-neutral_lightGrey"
            ><th
              class="pt-2 pb-2 pl-12 text-start text-neutral_wengeBrown w-1/2"
              >Carbs</th
            >
            <th
              class="pt-2 pb-2 pr-24 font-bold text-primary_nutmeg w-1/2 text-start"
              >0g</th
            ></tr
          >
          <tr class="border-b border-neutral_lightGrey"
            ><th
              class="pt-2 pb-2 pl-12 text-start text-neutral_wengeBrown w-1/2"
              >Protein</th
            >
            <th
              class="pt-2 pb-2 pr-24 font-bold text-primary_nutmeg w-1/2 text-start"
              >20g</th
            ></tr
          >
          <tr class=""
            ><th
              class="pt-2 pb-2 pl-12 text-start text-neutral_wengeBrown w-1/2"
              >Fat</th
            >
            <th
              class="pt-2 pb-2 pr-24 font-bold text-primary_nutmeg w-1/2 text-start"
              >22g</th
            ></tr
          >
        </table>
      </section>
    </article>

    <div class="attribution my-8" data-astro-cid-j7pv25f6="">
      Challenge by <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        data-astro-cid-j7pv25f6="">Frontend Mentor</a
      >. Coded by <a
        href="https://www.dcarvajal.me"
        target="_blank"
        data-astro-cid-j7pv25f6="">Diego Carvajal</a
      >.
    </div>
  </body>
</html>

<style>
  * {
    font-family: "outfit";
  }
  h1,
  h2 {
    font-family: "Young Serif";
  }
  .list-square {
    list-style-type: square;
  }
</style>
